/*
File:			custom.css
Description:	Custom styles for Thesis

BASIC USAGE:

If you have enabled the custom stylesheet in the Thesis options panel, the <body> tag 
will be appended with the "custom" class, like so: <body class="custom">. You can use 
the "custom" class to override *any* CSS declarations contained in the style.css file.

For example, if you wish to change the default link color to green, you would add the 
following declarations to this file:

	.custom a, .custom a:visited { color: #090; }	<--- This makes links green
	.custom a:hover { color: #00f; }				<--- This makes links blue when you mouse over them

WHY THIS WORKS:

By using the "custom" class, you are creating more specific CSS declarations for HTML
elements. CSS styling is applied through rules of specificity, and because declarations
prepended with .custom are more specific, they get applied when the page is rendered!

More information about styling your Thesis installation using this file can be found
in the User's Guide:
	http://diythemes.com/thesis/rtfm/customizing-thesis-with-customcss/
*/


/* FLUID LAYOUT */

body.custom {
	min-width: 937px;
}

.custom #container { width: 100%; }
.custom #content_box { background-position: 195px 0; position: relative; }
.custom #column_wrap { width: 80%; background-position: 20% 0; }
.custom #content {
	margin-right: 195px;
	padding-left: 205px;
	min-height: 3100px;
	width: auto;
	float: none;
	background: url("../lib/images/dot-ddd.gif") repeat-y scroll 96.4em 0 transparent;
	background-position: right top;
}

.custom .sidebar ul.sidebar_list {
  padding-left: 11px;
  padding-right: 11px;
  padding-top: 22px;
}

.custom .sidebar h3 {
  font-variant: normal; !important
  letter-spacing: 2px;
}

.custom #sidebar_1, .custom #sidebar_2 {
	width: 195px;
	border: none;
	position: absolute;
	top: 0;
	overflow: hidden;
}

.custom #sidebar_1 {
	left: 0;
}

.custom #sidebar_2 {
  right: 0;
}

.custom #sidebar_2 select {
  max-width: 165px;
}

.custom .teasers_box { width: auto; }
.custom .teaser { width: 48%; }
.custom #image_box { text-align: center; overflow: hidden; }
.custom #image_box img { display: inline-block; border: none; background: none; }


/* BODY */

.custom blockquote { border-left: 1px solid #ddd; color: #101010; }

a { color: #2057B5; text-decoration: none !important; }
a:hover { text-decoration: underline !important; }

.custom .sidebar h3 { font-variant: normal; text-transform:uppercase; letter-spacing: 2px; !important }

.custom .headline_meta { font-style: normal; }
.custom .headline_meta span, .headline_meta abbr { font-style: normal; text-transform: none; letter-spacing: normal; }
.custom .headline_meta a { color: #2057B5; text-decoration:none; border-bottom:none; }
.custom .headline_meta a:hover { color: #2057B5; text-decoration:underline; } 

.custom .headline_area {margin-bottom: 12px;}

/* HEADER */
.custom #header {
	background-color: #04BA91;
	height: 77px;
	}

.bookdisplay {
	height: 150px;
	border: 1px #333333 solid;
	background-color: #FFF;
	margin: 1px;
	}
	
.bookdisplay li {
	display:inline;
	vertical-align:middle;
	}
	
.onebook {
	width: 125px;
	text-align:center;
}

	
/* TEASERS */

.custom .teaser {
	width: 100%;
	border-top: 1px dotted #BBB;
	padding: 2em 0 1em 0;
	}
	
.custom .teaser p {
	margin-bottom: -6px;
	}
	
.custom .teaser img {
	border: 1px solid #eee;
}

.custom .teasers_box {
	border-top: none;
	padding: 0;
	}
	
.custom .teasers_box h2 a { color: #903; }
.custom .teasers_box h2 a:hover { color: #111; }


/* WIDGET-SPECIFIC MODS */

a.delicious_title_link {
	text-decoration: none !important;
	color: #333 !important;
	cursor: pointer !important;
}

.dsq-widget-item img {
	display: none;
}
.dsq-widget-item a {
	font-weight: normal !important;
}

.dsq-widget-item {
	margin-top: 0 !important;
}

.dsq-widget-meta {
	display: none;
}

.active_authors ul li a {
	text-decoration: none;
}

.more-authors a {
	color: #000;
	text-decoration: none !important;
	border-bottom: 1px dotted #ccc;
}

.more-authors a:hover {
	color: #903;
	text-decoration: underline !important;
}

/* COMMENTS */

#dsq-content {
	/*border-top: 1px solid #ddd;*/
	padding: 10px 20px 0 20px;
	margin-top: 20px;
	line-height: 1.5em;
}

.dsq-comment-header {
	margin-bottom: .5em !important;
}

.dsq-brlink {
	display: none;
}

.custom .to_comments {
	font-size: 11px;
	color: #FF0000;
	margin-top: 0px;
	text-align: left;
}

.custom .to_comments a {
	color: #2057B5;	
}

.custom .to_comments span {
	font-size: 11px;
	color: #2057B5;
}

.custom .to_comments .metaline {
	font-size: 11px;	
	font-family: Verdana, Geneva, sans-serif;
	margin-right: 0px;
}

.akpc_pop {display:none;}

#dsq-content h3 {
	font-weight: bold;
	padding: 1em 0;
}


/* PREV-NEXT LINKS */

.custom .prev_next {
	border-top: 1px dotted #ddd;
}

/* FOOTER */

.custom #footer {
	background: #04BA91;
}

.custom #footer a {
	font-weight:bold;
	border-bottom: none; !important
}

/* FORM INPUTS */

.custom input, .custom textarea { background: #fff; }

/* PHOTO DROPPER */

.custom .photo_left, .custom .photo_right {
	background: #FAFAFA;
	border: none;
	color: #888;
	padding: .5em;
}

.custom .photo_center {
	clear: both;
	color: #888;
	float: none;
	margin-bottom: 1.571em;
	text-align: center;
}

.custom .photo_left {
	clear: left;
	float: left;
	margin-right: 1.571em;
	text-align: left;
}

.custom .photo_right {
	clear: right;
	float: right;
	margin-left: 1.571em;
	text-align: right;
}

.custom .photo_center img {
	background: #eee;
	border: 0.071em solid #ccc;
	margin-bottom: -2.714em;
	padding: 0.714em 0.714em 2.714em 0.714em;
}

.custom .photo_center small a img {
	background: transparent;
	border: none;
	margin: 0;
	padding: 0;
}

.custom .photo_center small a, .custom .photo_left small a, .custom .photo_right small a {
	color: inherit;
	text-decoration: none;
}

/* Comments Intro */

.custom .comments_intro {
	margin-left: 10px;
	}


/* SHARE SECTION */

.agg_post_meta { 
	line-height: 2em; 
	vertical-align: middle;
	height: 2em; 
	width: 600px; 
	text-align: left; 
	margin: 2em 0 2em 0; 
	}

.agg_post_meta .hed { 
	float: left; 
	font-family: Arial, Helvetica, sans-serif; 
	font-weight: normal; 
	margin-right: 5px; 
	padding-top: 2px;
	}

.agg_post_meta .more, .comments, .subj_hed { 
	float: left; 
	margin-right: 7px; 
	font-family: Arial, Helvetica, sans-serif; 
	color: #666;
	}

.agg_post_meta .comments {
	text-transform: lowercase;
	font-weight: normal; 
	border-left: 0px solid #ccc; 
	margin-left: 0px; 
	padding-left: 0px; 
	color: #333;
	float: left;
	}

.agg_post_meta .comments a {
	color: #333;
	margin-top: 5px;
}

.agg_post_meta .comments a:hover {
	text-decoration: underline;
	}

.agg_post_meta a { 
	float: left; 
	display: inline-block; 
	line-height: 100%; 
	margin: 3px 5px; 
	text-decoration: none;
	}

.agg_post_meta .bubble {  
	float: left; 
	padding: 2px 5px 0 10px;
	}

	
	
/* MORE LINK */

.custom .more-link {
	display: block;
	margin: 2em 0 3em 0;
}

.custom a.more-link strong {
	border: 3px solid #ddd;
	padding: .5em;
}

.custom a.more-link {
	text-decoration: none;
}

/* Excerpt on a post's page */
.custom .wp-post-above-the-fold {
  border-bottom: 1px dotted #DDDDDD;
  margin-bottom: 1.571em;
}

/* =============================== */
/* ! Hiding old style linebreaks   */
/* =============================== */
.custom p br, .custom blockquote br {
  display: none;
}